<script>
    const getUserRole = parseInt('0');
</script>
<%- include('../../parts/home/head.ejs') %> 

    <div class="container">
        <div class="text-center title">
            <h1 class="text-main" style="margin-top: 100px;">
                <%= friend.username %>
            </h1>
            <h3 class="badges">
                <% if(friend.bot){ %>
                    <% if(friend.dev){ %>
                        <span class="badge badge-primary">
                            <img src="/media/svg/check-circle.svg" height="22" data-toggle="tooltip" title="Verified Bot"> Bot
                        </span>
                    <% } else { %>
                        <span class="badge badge-primary purple">
                            Bot
                        </span>
                    <% } %>
                <% } %>

                <% if(friend.modBadge){ %>
                    <i class="fi-br-shield text-purple" data-toggle="tooltip"  title="Site Staff" data-placement="bottom"></i>
                <% } %>
                <% if(friend.bugBuster){ %>
                    <i class="fi-br-bug company-color" data-toggle="tooltip"  title="Bug Finder" data-placement="bottom"></i>
                <% } %>
            </h3>
            <hr>
            <div class="buttons">
                <button class="btn btn-outline-primary rounded" onclick="StartThread('<%= friend.id %>')"><i class="fi-br-comment"></i> Message</button>
            </div>
            <script>
                const StartThread = (fid) => {
                    socket.emit("start-dm", {
                        sid: usid,
                        fid: fid
                    });
                }
            </script>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    <br>    <br>
    <br>

    <script>

const qStr = window.location.search;
    const qParams = new URLSearchParams(qStr);

    if (qParams.has('e')) {
        const err = qParams.get('e');
         if(err == "ref"){
            window.location.href = '/';
        }
    }
    </script>
<%- include('../../parts/home/footer.ejs') %> 