.badge.badge-primary {
    background-color: var(--d-cyan);
}

.badge.badge-primary.purple {
    background-color: var(--d-purple);
}

.badge.badge-primary.admin {
    background-color: #9147ff;
}
.badge.badge-primary.mod {
    background-color: #08aa12;
}

.d-mention {
    background: #2196f370;
    padding: 0px 5px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    color: white !important;
}
.d-mention a {
    color: white !important;
}

.instance .badge {
    text-transform: uppercase;
}