<%- include('../parts/home/head.ejs') %> 

    <div class="container">
        <div class="text-center title">
            <h1 class="text-main" style="margin-top: 100px;">
                An error has occured!
            </h1>
            <h3 class="subtitle">
                Please report this to the developer!
            </h3>
            <div class="buttons">
                <a href="/login" class="btn btn-primary">Github</a>
            </div>
        </div>
    </div>

    <div class="bg-2" style="margin-top: 100px;">
        <div class="container">
            <div class="title">
                <h2 class="text-uppercase text-main">
                    Error
                </h2>
                <hr>
            </div>
            <div class="content">
                <code>
                    <%= error %>
                </code>     
            </div>
        </div>
    </div>
<%- include('../parts/home/footer.ejs') %> 