</div>
<div id="loading-screen" style="display: none;">
  <div class="spinner-grow text-purple" role="status">
  </div>
</div>
<script src="/js/core/loader.js"></script>
<div id="snackbar"></div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
    $('[data-toggle="popover"]').popover({
      trigger: 'focus'
    })
    // https://github.com/Cura-App/website
  </script>
</body>
</html>