<%- include('../../parts/home/head.ejs') %> 

    <div class="container">
        <div class="title">
            <h1 class="text-main" style="margin-top: 100px;">
                Special Thanks
            </h1>

            <hr>
            <div>
                <p>
                    Special thanks to the people who have helped with creating Cura!
                </p>
                <ul style="text-align: left;">
                    <li>
                        <span id="lead-dev">
                            <a target="_blank" href="https://github.com/serakoi">Serakoi</a> (Lead-Dev/Founder)
                        </span>
                    </li>
                    <li>
                        <span id="contributor-001">
                            <a target="_blank" href="http://github.com/hyperDev6969/">ProDev</a> (Contributor)
                        </span>
                    </li>
                    <li>
                        <span id="contributor-002">
                            <a target="_blank" href="https://github.com/Cinnamonsroll">Strawberry🍓#5625</a> (Contributor)
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    <br>    <br>
    <br>
<%- include('../../parts/home/footer.ejs') %> 