<%- include('../../parts/home/head.ejs') %> 

    <div class="container">
        <div class="title">
            <h1 class="text-main" style="margin-top: 100px;">
                <%= pageName %>
            </h1>

            <hr>
            <div>
                <p>
                    -
                </p>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    <br>    <br>
    <br>
<%- include('../../parts/home/footer.ejs') %> 