<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
    $('[data-toggle="popover"]').popover({
      trigger: 'focus'
    })
    // https://github.com/Cura-App/website
</script>
<div id="snackbar"></div>
<footer class="text-center text-lg-start">
    <div class="text-center p-3">
      © 2021 Copyright:
      <a href="https://seer-software.com/">seer-software.com</a>
    </div>
  </footer>

</body>
</html>