<%- include('../parts/home/head.ejs') %> 

    <div class="container">
        <div class="text-center title">
            <h1 class="text-main" style="margin-top: 100px;">
                <%= pageName %>
            </h1>
            <h3 class="subtitle">
                You have claimed this gift!
                <br>
                You now have access to premium features!
            </h3>
        </div>
    </div>
    
<%- include('../parts/home/footer.ejs') %> 